@use 'base'

#site-wrapper
  background: #000

/* navigation */
#navbar
  display: flex
  align-items: center
  justify-content: space-between
  position: fixed
  top: 0
  left: 0
  height: 60px
  width: 100%
  padding-right: 8px
  padding-left: 8px
  background: #3A3D28
  box-shadow: 0 1px 14px #280b16
  z-index: 60

#site-title
  color: #fff
  z-index: 61

#burger-btn
  height: 40px
  width: 40px
  border: 1px solid #282d0c
  border-radius: 2rem
  background: #fff
  color: #3A3D28
  cursor: pointer
  z-index: 62

#nav-list
  display: flex
  flex-flow: column wrap
  justify-content: center
  position: absolute
  top: 0
  left: 0
  height: 100vh
  max-width: 400px
  width: 100%
  background: silver
  background-image: url('images/sg1-gate.jpg')
  background-repeat: no-repeat
  background-position: center
  transform: translateX(-1000px)
  transition: transform 220ms
  z-index: 60
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    background: rgba(0,0,0,.6)

#nav-list > li
  transform: translateY(-1000px)
  &:nth-child(1)
    transition: transform 400ms ease-out 300ms
  &:nth-child(2)
    transition: transform 400ms ease-out 150ms
  &:nth-child(3)
    transition: transform 400ms ease-out

.nav-link
  max-width: 220px
  width: 94%
  border: 2px solid #000
  border-radius: 6px
  margin: 16px auto 0
  padding: 12px 8px
  font-size: 1.4rem
  font-weight: bold
  background: #EAEDD8
  color: #282D0C
  transition: transform 220ms
  &:active
    transform: scale(.9)

/* show mobile menu */
#nav-list.active
  transform: translateX(0)
  &:before
    height: 100vh
    width: 100vw

#nav-list.active > li
  &:nth-child(1)
    transform: translateY(0)
  &:nth-child(2)
    transform: translateY(0)
  &:nth-child(3)
    transform: translateY(0)

/* Hero section **/
#hero
  margin-top: 60px
  background: #000

#hero > picture
  display: block
  height: auto
  max-height: calc(100vh - 60px)
  width: 100%

#hero > picture > source

#hero-img

#cta-wrapper
  position: absolute
  bottom: -64px
  width: 100%
  text-align: center
  z-index: 26

.cta-link-wrap
  max-width: 320px
  width: 100%
  margin: 0 auto
  padding: 52px 0
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    border: 2px solid #EAEDD8
    border-radius: 10px
    background: #000
    opacity: .8

.cta-link
  max-width: 200px
  border-radius: 8px
  margin: 0 auto
  padding: 16px 8px
  font-size: 1.6rem
  font-weight: bold
  background: #EAEDD8
  color: #000
  &:before
    content: ''
    position: absolute
    top: -8px
    right: -8px
    height: 50%
    width: 100%
    border-top: 2px solid #EAEDD8
    border-right: 2px solid #EAEDD8
    border-top-right-radius: 8px
    transition: transform 200ms
  &:after
    content: ''
    position: absolute
    bottom: -8px
    left: -8px
    height: 50%
    width: 100%
    border-bottom: 2px solid #EAEDD8
    border-left: 2px solid #EAEDD8
    border-bottom-left-radius: 8px
    transition: transform 200ms
  &:hover:before
    transform: translate(6px, -6px)
  &:hover:after
    transform: translate(-6px, 6px)

/* about section */
#about
  padding: 120px 8px 64px
  background: #EAEDD8

.about-title
  margin-bottom: 20px
  text-align: center

#about > p
  max-width: 768px
  margin: 0 auto
  padding: 8px
  font-size: 1.2rem
  letter-spacing: 1px
  line-height: 30px

/* characters section */
#characters
  padding: 64px 8px
  background: #989C79
  header > h2
    margin-bottom: 32px
    text-align: center

/* character card */
.cards-wrapper
  display: flex
  flex-flow: column wrap
  max-width: 800px
  margin: 0 auto

.tile-scene
  height: 400px
  width: 94%
  border-radius: 10px
  margin: 28px auto
  // box-shadow: 1px 1px 20px 4px rgba(0,0,0,.4), 1px 1px 10px rgba(0,0,0,.3)
  perspective: 600px

.tile-card
  height: calc(100% - 62px)
  width: 100%
  transition: transform 1s
  transform-style: preserve-3d
  z-index: 24

.tile-card__face
  position: absolute
  height: 100%
  width: 100%
  border: 2px solid #EAEDD8
  border-top-right-radius: 10px
  border-top-left-radius: 10px
  background: #000
  backface-visibility: hidden
  overflow: hidden

// front of card
.tile-card__face--front
  display: flex
  flex-flow: column wrap
  justify-content: start
  img
    background: #000
  h3
    padding: 12px 0
    color: #EAEDD8
    text-align: center

// back of card
.tile-card__face--back
  padding: 12px 8px
  background: #EAEDD8
  overflow-y: scroll
  transform: rotateY(180deg)
  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar-track
    border-radius: 4px
    background: #282D0C
  &::-webkit-scrollbar-thumb
    border: 1px solid #282D0C
    border-radius: 4px
    background: #989D79
  &::-webkit-scrollbar-thumb:hover
    background: #686B50

.tile-card__list
  display: flex
  flex-flow: column nowrap
  li
    width: 100%
    font-size: 1.2rem
    line-height: 30px
    letter-spacing: 1px

.read-more
  display: block
  width: 100%
  border-top: 4px solid #333819
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  padding: 16px 8px
  font-size: 1.2rem
  background: #EAEDD8
  cursor: pointer
  transition: transform 234ms
  &:hover
    transform: translateY(4px)
  &:active
    transform: translateY(4px) scale(0.9)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    box-shadow: 1px 2px 14px rgb(0,0,0, 0.4)
    opacity: 0

.rotate-card
  transform: rotateY(180deg)

/* vehicles section */
#vehicles
  padding: 64px 8px
  background: #EAEDD8
  header > h2
    margin-bottom: 32px
    text-align: center

.vehicles-carousel
  display: flex
  height: 280px
  max-width: 1000px
  margin: auto
  text-align: center
  overflow: hidden

.vehicles-slide
  position: absolute
  height: 100%
  width: 100%
  animation-duration: 400ms
  animation-fill-mode: forwards
  animation-timing-function: ease-out
  transform: translateX(-100vw)
  &:nth-child(1)
    transform: translateX(0)

.vehicles-slide-inner
  display: flex
  align-items: center
  justify-content: center
  height: 100%

// animate slide from right to left */
@keyframes hideSlideRight
  0%
    opacity: 1
    transform: translateX(0)
  100%
    opacity: 0
    transform: translateX(-100vw)

@keyframes slideFromRight
  0%
    opacity: 1
    transform: translateX(100vw)
  100%
    opacity: 1
    transform: translateX(0)

/* animate slide from right to left */
@keyframes hideSlideLeft
  0%
    opacity: 1
    transform: translateX(0)
  100%
    opacity: 0
    transform: translateX(100vw)

@keyframes slideFromLeft
  0%
    opacity: 1
    transform: translateX(-100vw)
  100%
    opacity: 1
    transform: translateX(0)

.vehicles-slide__img
  display: block
  max-width: 520px
  margin: auto

/* caption text */
.vehicles-slide__caption
  position: absolute
  bottom: 0
  width: 100%
  > span
    display: block
    width: 200px
    margin: auto
    padding: 8px
    font-size: 1.2rem
    background: rgba(0,0,0,.8)
    color: #fff
    text-align: center

/* next and back buttons */
.vehicles-slide__btns
  position: absolute
  top: 50%
  width: auto
  padding: 12px
  font-size: 1.4rem
  font-weight: bold
  background: rgba(0,0,0,.8)
  color: #fff
  cursor: pointer
  transition: 400ms ease
  user-select: none
  &:hover
    transform: scale(1.1)

.vehicles-slide__back
  left: 0
  border-radius: 0 4px 4px 0

.vehicles-slide__next
  right: 0
  border-radius: 4px 0 0 4px


/* footer section */
footer
  padding: 64px 8px 12px
  background: #3A3D28
  color: #fff
  text-align: center
  > p > a
    display: inline-block
    font-weight: bold
    color: #fff
    text-decoration: underline

/* Media Queries */
@media (min-width: 400px)
  .vehicles-carousel
    height: 364px
@media (min-width: 460px)
  .vehicles-carousel
    height: 400px

@media (min-width: 600px)
  /* characters section */
  .cards-wrapper
    flex-flow: row wrap
  .tile-scene
    width: 48%
    margin: 32px auto
  /* carousel */
  #vehicles header > h2
    margin-bottom: 48px
  .vehicles-carousel
    height: 420px

@media (min-width: 768px)
  /* navigation */
  #burger-btn
    position: absolute
    height: 1px
    width: 1px
    left: -1000px
  #nav-list
    flex-flow: row nowrap
    align-items: center
    position: relative
    height: 60px
    max-width: 478px
    background: none
    background-image: none
    transform: translateX(0)
    li
      transform: translateY(0)
  /* CTA */
  #cta-wrapper
    bottom: -40px
  .cta-link-wrap
    padding: 64px 0

  .nav-link
    width: 136px
    border: none
    margin: 0 4px
    padding: 4px
    font-size: 1.2rem
    &:hover
      transform: translateY(4px)
    &:active
      transform: translateY(4px) scale(.9)

  #about > p
    line-height: 34px
